@import "./variables";

.artisthead {
  @include flexcenter();
  flex-direction: row;
  padding-top: 5%;
  width: 100%;
  color: black;
  font-family: Headingfont;
  font-size: 3rem;
}

.cardrow {
  @include flexcenter();
  flex-direction: row;
  height: 13%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  justify-content: space-between;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

@media screen and (max-width: 768px) {
  .artisthead {
    @include flexcenter();
    flex-direction: row;
    padding-top: 5%;
    width: 100%;
    color: black;
    font-family: Headingfont;
    font-size: 2rem;
  }
  .cardrow {
    @include flexcenter();
    flex-direction: row;
    height: 13%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    justify-content: space-between;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
  }
}
