$bg-image: url("../images/wox1.png");
$bg-homeMobile: url("../images//wox1-mobile.png");
$bg-program: url("../images/wox3.png");
$bg-programMobile: url("../images//wox3-mobile.png");
$bg-artists: url("../images/wox2.png");
$bg-artitsMobile: url("../images/wox2-mobile.png");
$bg-tickets: url("");
