@import "./_variables.scss";

.programhead {
  display: flex;
  width: 20%;
  height: 40%;
  flex-direction: column;
  font-family: Headingfont;
  font-size: 3rem;
  align-content: center;
  color: $green;
  padding-left: 5%;
}

.programbackground {
  width: 60%;
  height: 80%;
  background: black;
  padding-top: 5%;
}

.programdate {
  color: $green;
  font-family: Headingfont;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.programtable {
  width: 80%;
  color: white;
  td {
    border-bottom: 1px solid;
    border-color: white;
    padding: 1%;
    margin: 2%;
  }

  tr {
    width: 100%;
    font-family: Boldfont;
    font-size: 1rem;
  }
  td-new {
    padding: 1%;
    margin: 2%;
  }
}
