@import "./_variables.scss";

.programhead {
  display: flex;
  align-content: center;
  width: 20%;
  height: 40%;
  flex-direction: column;
  font-family: Headingfont;
  font-size: 3rem;
  color: $green;
  padding-left: 5%;
}

.programbackground {
  width: 50%;
  height: 95%;
  background: black;
  padding-top: 5%;
}

.programdate {
  @include flexspacebetween();
  color: $green;
  font-family: Lightfont;
  font-size: 2rem;
  height: 10%;
}

.tablecontainer {
  @include flexcenter();
  flex-direction: row;
  width: 100%;
}

.programtable {
  width: 80%;
  color: white;
  text-align: left;

  tr {
    width: 50%;
    font-family: Lightfont;
    font-size: 1.2rem;
    text-align: left;
  }
}
.td-old {
  border-bottom: 1px solid;
  border-color: white;
  padding: 1%;
  margin: 2%;
  text-align: left;
  width: 80%;
}

.td-new {
  padding: 1%;
  margin: 2%;
  text-align: left;
  width: 20%;
}

.btnrow {
  @include flexspacebetween();
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
}
.btn {
  color: black;
  background-color: $green;
  border: none;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
