.tickets {
  margin-top: 2%;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.ticket {
  box-shadow: 3px 3px 3px black;
  transition: 0.3s;
  margin: 5%;
  border: 1px solid;
  border-color: transparent;
  border-radius: 20px;
  background: black;
  height: 100%;
  width: 25%;
  cursor: pointer;
  color: $green;

  &:hover {
    color: $green;
    box-shadow: 5px 5px 16px $green;
  }
}

.tickethead {
  height: 30%;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.ticketbody {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
