$dark: #222831;
$darkgrey: #393e46;
$orange: #fd7014;
$lightgrey: #eeeeee;
$white: #f4f4f4;
$green: #99ff00;

@font-face {
  font-family: Headingfont;
  src: url("../fonts/Garbata Serif Font.ttf");
}

@font-face {
  font-family: Lightfont;
  src: url("../fonts/Creo-ExtraLight.ttf");
}
@font-face {
  font-family: Boldfont;
  src: url("../fonts/Creo-ExtraBold.ttf");
}
