@import "./navbar";
@import "./variables";
@import "./tickets";
@import "./images";
@import "./program";
@import "./artists";
@import "./funtions";
@import "./artists";
@import "./arrow";
@import "./home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
}
.section {
  height: 100vh;
  // &-home {
  //   background-image: $bg-image;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-color: #fff;
  //   font-size: 2rem;
  //   font-weight: bold;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   font-family: Headingfont;
  //   color: #99ff00;
  // }
  // &-program {
  //   background-image: $bg-program;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   flex-direction: row;
  //   height: 100vh;
  // }
  &-artists {
    background-image: $bg-artists;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 180vh;
  }

  &-tickets {
    background-image: $bg-artists;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
%title-shared {
  font-size: 35px;
  color: black;
  font-weight: bold;
  padding-top: 8%;
  padding-left: 50px;
  height: 30px;
}

.title-w {
  @extend %title-shared;
  color: #fff;
  margin-left: 42%;
  padding-top: 5%;
}

.title-b {
  @extend %title-shared;
  color: black;
  font-weight: bold;
}

%content-shared {
  padding-top: 140px;
  padding-left: 0px;
  width: 100%;
  font-size: x-large;

  ul {
    list-style: none;
  }
}

.content-w {
  @extend %content-shared;
  color: #fff;

  a {
    color: white;
    text-decoration: none;
  }
}

.content-b {
  @extend %content-shared;
  color: black;
  a {
    color: black;
    text-decoration: none;
  }
}

th {
  width: 21%;
  text-align: center;
}
td {
  text-align: center;
}

.carosel {
  width: 300px;
  height: 200px;
}
